.home-wrapper {
  height: 98vh;
  background: linear-gradient(180deg, lightblue 0%, #e4f3ff 100%);
  background-blend-mode: soft-light;
  background-repeat: no-repeat;

  .logo {
    height: 40vh;
  }

  .home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .joinButton {
      background-color: #fff;
      margin-left: 10px;
      margin-top: 20px;
      padding: 10px;
      border-radius: 5px;
      font-size: 18px;

      &:hover {
        background-color: #aaa;
      }
    }

    .connection-status {
      font-size: 18px;
    }

    .github {
      display: flex;
      flex-direction: column;
      transform: translateX(5%);

      .github-icon {
        margin-top: 20px;
        padding-top: 10px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

.remote-peer-id-input {
  width: calc(40vw - 20px);
  min-width: 280px;
  background-color: #eee;
  padding: 10px;
}

.modal-bottom {
  display: flex;
  align-items: center;

  .modalButton {
    margin-top: 10px;
    background-color: lightcyan;
    margin-right: 10px;
    padding: 5px;
    border: solid #555 2px;

    &:hover {
      background-color: #aaa;
    }
  }
}